@page "/"

<h1>Oregon COVID Test Sites</h1>

<DownloadPrompt Title="There are currently no public tests sites in Oregon" link="https://www.oregon.gov/oha/PH/DISEASESCONDITIONS/DISEASESAZ/Pages/COVID19-FAQ.aspx?wp1284=l:25,f:{c:77198,o:{t:2,o:[%22Testing%22]}}" />

<h2>
<NavLink class="nav-link" href="map">
    <span class="oi oi-plus" aria-hidden="true"></span> Check the Map
</NavLink>
</h2>